@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato2OFL/Lato-Black.ttf");
  
 }
 @font-face {
  font-family: 'Lato Medium';
  src: url("../fonts/Lato2OFL/Lato-Medium.ttf");
  
 }

 @font-face {
    font-family: 'Cash Currency';
    src: url("../fonts/Cash Currency.ttf") ;
}
#video-background {
	/* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    /* top: 0; */
    /* min-width: 100%; */
    /* min-height: 100%; */
    /* width: auto; */
    /* height: auto; */
  /* z-index: -100; */
	position: absolute;
    right: 0;
    /* bottom: 0; */
	top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.video-bg-meter{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.null-pad{
	padding-left:0px !important;
	padding-right:0px !important;
}
.m-t-20{
	margin-top:20px;
}
.m-t-30{
	margin-top:30px;
}
.m-t-40{
	margin-top:40px;
}
.m-t-45{
	margin-top:45px;
}
.m-t-50{
	margin-top:50px;
}
.m-t-100{
	margin-top:100px !important;
}
.p-t-70{
	padding-top:70px;
}
.p-r-null {
    padding-right: 0px !important;
}

/* Bullet */
@media (max-width: 1450px) {
	
}
.h-bullet{
	background: rgba(8, 8, 8, 0.78);
    background-size: cover;
	padding-left: 100px !important;
    padding-right: 100px !important;
	height:100%;
	padding-top:10%;
}
.hb-img1{
	height: 500px;
}
.h-m-left-img{
	width: 150px;
    margin-top: 50px;
    display: block;
    margin: auto;
}
.h-m-left-img-line {
    width: 2px;
    height: 90px;
    margin-top: 20px;
}
.h-m-line-height {
    height: 260px !important;
    transition: 3s;
    width: 2px;
}

.hb-main-img{
	margin-top: 100px;
}
.hb-img-line{
	float: left;
    height: 100px;
	width:3px;
    margin-top: 50px;
}
.hb-line-height{
	height: 340px !important;
	transition: 3s;
	width:3px;
}
.hb-word-img{
    margin-top: 50px;
    margin-left: 50px;
}
.rd-btn{
	border: solid 1px #c2c2c2;
    background: 0;
    border-color: #6b6666;
    color: #fff;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 135px;
    text-align: center;
    position: relative;
	font-family: Times New Roman;
    font-style: italic;
}
.rd-btn a, .rd-btn:hover{
	color: #fff !important;
    /* background-color: #dda039; */
}
.rd-btn a, .rd-btn:visited{
    color: #fff !important;
    /* background-color: #dda039; */
}
.rd-btn:after{
	content:'';
	display:block;
	-webkit-transition:all .2s;
	border:solid 1px #6b6666;
	position:absolute;
	top:-5px;
	right:3px;
	bottom:-5px;
	left:3px
}
.rd-btn-white-bor{
	border: solid 1px #c2c2c2;
    background: 0;
    border-color: #fff;
    color: #fff;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 135px;
    text-align: center;
    position: relative;
	font-family: Times New Roman;
    font-style: italic;
}
.rd-btn-white-bor a, .rd-btn-white-bor:hover{
    color: #fff !important;
    /* background-color: #dda039; */
}
.rd-btn-white-bor a, .rd-btn-white-bor:visited{
    color: #fff !important;
    /* background-color: #dda039; */
}
.rd-btn-white-bor:after{
	content:'';
	display:block;
	-webkit-transition:all .2s;
	border:solid 1px #fff;
	position:absolute;
	top:-5px;
	right:3px;
	bottom:-5px;
	left:3px
}
.rd-btn-white-bg{
	border: solid 1px #c2c2c2;
    background: 0;
    border-color: #6b6666;
    color: #000;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 135px;
    text-align: center;
    position: relative;
	font-family: Times New Roman;
    font-style: italic;
}
@media (min-width: 1400px){
    .rd-btn-white-bg-t22{
        /*margin-left: 9% !important;*/
    }
}
.rd-btn-white-bg a, .rd-btn-white-bg:hover{
	color: #000 !important;
}
.rd-btn-white-bg a, .rd-btn-white-bg:visited{
    color: #000 !important;
}
.rd-btn-white-bg:after{
	content:'';
	display:block;
	-webkit-transition:all .2s;
	border:solid 1px #6b6666;
	position:absolute;
	top:-5px;
	right:3px;
	bottom:-5px;
	left:3px
}
.h-pro-title{
	font-family: Cash Currency;
	font-size: 45px;
    letter-spacing: 5px;
    color: #dc9f39;
    margin: 0;
    line-height: 50px;
}

.h-b-tm {
    font-size: 17px;
    font-family: Times New Roman;
    font-weight: bold;
    letter-spacing: 1px;
	color: #dc9f39;
    margin-top: -18px;
    margin-left: 30px;
}
.h-bullet h2 {
    font-size: 19px;
    font-family: Times New Roman;
    letter-spacing: 1px;
    color: #dc9f39;
}
.h-b-arr {
    margin-left: 105px;
	width: 100px;
	margin-top: 30px;
}
.h-b-left-img {
    height: 385px;
    width: 150px;
    margin-top: 50px;
}
.hb-main-img {
	height: 350px;
    margin-top: 60px;
}
@media (min-width: 1500px) {
	.hb-main-img {
		height: 412px ;
		margin-top: 40px;
	}
	.h-bullet h2 {
		font-size: 22px;
	}
	.h-b-p {
		font-size: 15px !important;
		margin-bottom:38px;
	}
	.h-pro-title{
		font-size: 50px !important;
	}
}
.h-b-p1{
	font-family: Times New Roman;
    font-size: 20px;
    color: #dc9f39;
    margin-top: 24px;
}
.h-b-p {
    color: #dc9f39;
    font-family: Lato Medium;
    letter-spacing: 1px;
    font-size: 13px;
}
/* Meter */
@media (min-width: 1500px) {
	.h-meter h2 {
		font-size: 24px !important;
		margin-bottom:22px;
	}
	.h-m-p1, .h-m-p2, .h-m-p3, .h-m-p4 {
		font-size: 17px !important;
		margin-bottom: 17px;
	}
}
.h-meter{
	padding-top: 8%;
    height: 100%;
    background-color: rgba(2, 17, 22, 0.76);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.h-meter h2 {
    font-size: 21px;
    margin-top: 40px;
    font-family: Times New Roman;
    color: #dc9f39;
}
.h-m-tm{
	font-size: 17px;
    font-family: Times New Roman;
    font-weight: bold;
    letter-spacing: 1px;
    color: #dc9f39;
    margin-top: -18px;
    margin-left: -20px;
}
.h-m-p1 {
    font-family: Lato Medium;
    font-size: 14px;
    color: #dc9f39;
    letter-spacing: 2px;
    padding-top: 30px;
}
.h-m-p2 {
	font-family: Lato Medium;
    font-size: 14px;
    color: #dc9f39;
    letter-spacing: 3px;
    padding-top: 5px;
}
.h-m-p3 {
	font-family: Lato Medium;
    font-size: 14px;
    color: #dc9f39;
    letter-spacing: 6px;
    padding-top: 5px;
}
.h-m-p4 {
	font-family: Lato Medium;
    font-size: 14px;
    color: #dc9f39;
    letter-spacing: 6px;
    padding-top: 5px;
    padding-bottom: 40px;
}
.h-m-icons {
    padding-right: 30px;
    height: 35px;
}


/* kasuta */
@media (min-width: 1500px) {
	.h-k-pro-img {
		height: 412px !important;
		margin-top: 90px;
	}
	.h-k-pro-p1 {
		margin-bottom:30px;
	}
}
.h-kasuta{
	background-image: url(../images/ni/k-sec1-bg.jpg);
    background-size: cover;
	padding-top:6%;
	height: 100%;
}
.h-k-pro-mid {
	height: 215px;
    margin-left: 0;
}
.h-k-pro-mid2 {
    height: 285px;
    margin-left: -94px;
    margin-top: -35px;
    position: absolute;
}
.h-k-pro-p1 {
    font-family: Courier New;
    font-size: 15px;
    text-align: center;
    margin-top: 12%;
    color: #fff;
}
@media (max-width: 1280px) {
      .h-k-pro-p1{
       margin-top: 9%;} }
.h-k-pro-img {
    height: 350px;
    margin-top: 60px;
}
/* T90 */
@media (min-width: 1500px) {
	.h-t90-pro-img-ani {
		height: 412px !important;
	}
	.h-t90-p1{
		margin-bottom:40px !important;
		margin-top:35px !important;
	}
}

.h-t90{
	background-image: url(../images/ni/t90-b1.png);
    background-size: cover;
	padding-top:100px;
	height: 100%;
}
.h-t90-left-img{
	height: 385px;
	margin-top: 40px;
}
.ht90-left-img{
	height: 200px;
    margin-left: 30px;
    margin-top: 40px;
}
.ht90-left-line{
	float: left;
    height: 140px;
    width: 3px;
    margin-left: 36px;
    margin-top: 40px;
}
.ht90-left-line-height{
	height: 340px !important;
    transition: 3s;
    width: 3px;
}
.h-t90-tm{
	font-size: 17px;
    font-family: Times New Roman;
    font-weight: bold;
    letter-spacing: 1px;
    color: #dc9f39;
    margin-top: -18px;
}
.h-t90-p1 {
    font-family: Lato Black;
    font-size: 110px;
    color: #fff;
    line-height: 90px;
    opacity: .2;
    margin: 0px;
    margin-bottom: 18px;
}
.h-t90-p3 {
    opacity: .2;
    font-size: 55px;
    margin: 0px;
	color: #fff;
    margin-top: 18px;
}
.h-t90-p4{
	font-family: Courier New;
    text-align: justify;
    font-size: 16px;
    color: #dc9f39;
	margin-top:20px;
}
.h-t90-pro-img {
	height: 325px;
    margin-top: 60px;
}
.h-t90-pro-img-ani {
	height: 390px;
	transition:2s;
}
.t90-kw-mr{
	margin-top:5%;
}

/* Type 22 */
@media (min-width: 1500px) {
	.h-t22-pro-img {
		height: 412px !important;
	}
	
}
.h-t22 {
	background-color:#fff;
    padding: 100px !important;
	padding-top: 5% !important;
    height: 100%;
}
.h-t22-word-img {
    height: 450px;
	margin-top: 40px;
}
.h-t22-h1 {
	font-family: Cash Currency;
    font-size: 80px;
    letter-spacing: 5px;
    color: #000;
	margin: 0px;
	margin-left: -3px;
	margin-top: 35px;
}
.h-t22-tm {
    font-size: 17px;
    font-family: Times New Roman;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
    margin-top: -11px;
}
.h-t22-img2 {
    width: 405px;
	margin-left: -43px;
    margin-top: 30px;
}
@media (max-width: 1280px) {
      .h-t22-img2 {
        width: 376px; } }
.h-t22-p1 {
    font-family: Courier New;
    text-align: justify;
    font-size: 15px;
    color: #000;
    /* width: 84%; */
    font-weight: bold;
    margin-top: 15px;
    padding-top: 15px;
    text-transform: uppercase;
}
@media (min-width: 1400px){
    .h-t22-p1{
        font-size: 19px;
    }
}
.h-t22-p2 {
	font-family: Courier New;
    text-align: center;
    font-size: 15px;
    color: #000;
    /* width: 84%; */
    font-weight: bold;
    margin-top: -5px;
    text-transform: uppercase;
}
@media (min-width: 1400px){
    .h-t22-p2{
        font-size: 19px;
    }
}
.h-t22-pro-img {
    height: 350px;
    margin-top: 40px;
}
.h-t22-left-img {
	margin-top: 40px;
    height: 175px;
    margin-left: 130px;
    margin-right: 25px;
    float: left;
}
.h-t22-left-img-line{
	height: 100px ;
    width: 3px;
	margin-top: 40px;
}
.h-t22-left-img-height {
    height: 340px !important;
    transition: 2s;
    width: 3px;
}

/* Blitz */
.h-bz{
	background-color: #fff;
	height:100%;
}
.h-bz-top{
	padding-top:100px;
}
.h-bz-bt{
	padding-top:45px;
}
.h-bz-sec1-blitz-text{
	width: 100%;
}
@media (min-width: 1400px){
    .h-bz-sec1-blitz-text{
        height: 185px;
    }
}

.h-bz-sec1-goldstrip{
	width: 100%;
	height: 185px;
}
@media (max-width: 1280px) {
      .h-bz-sec1-goldstrip {
        height: 177px;
        } }

.h-bz-sec1-p{
	font-family: Lato Regular;
	font-size: 30px;
	color: #767778;
	margin-top: 80px;
	text-align: center;
}
.h-bz-sec1-p-ani{
	margin-top: -150px !important;
	transition: 2.5s;
}
@media (max-width: 1280px) {
      .h-bz-sec1-p-ani {
        margin-top: -137px !important;
        } }
@media (min-width: 1400px){
    .h-bz-sec1-p-ani{
        margin-top: -164px !important;
    }
}

.h-bz-sec1-6img{
	width: 100%;
}
@media (max-width: 1280px) {
      .h-bz-sec1-6img {
        height: 210px;
        } }

.h-bz-sec1-jar-img{
	height: 450px;
    margin-top: -560px;
    padding-left: 82px;
}
@media (max-width: 1280px) {
      .h-bz-sec1-jar-img {
        height: 430px;
        margin-top: -515px; } }

@media (min-width: 1400px){
    .h-bz-sec1-jar-img{
        height: 480px;
        margin-top: -590px;
    }
}

/* Shot */
.h-sht{
    background-color: #fff;
    padding-top: 11%;
    height: 100%;
    padding-left: 100px !important;
    padding-right: 100px !important;
}
.h-sht-img-h-360{
	height:360px;
}
.h-sht-img-h-320{
	height: 320px;
}
.h-sht-img-h-320-ani{
	height: 390px;
	transition: 2s;
}
.h-sht-s-sec1-shot-background{
	background-color: #000;
}
.h-sht-s-sec1-h{
	font-family: Lato black;
    font-size: 100px;
    color: #fff;
    /*text-decoration: underline;*/
    padding-bottom: 65px;
    padding-top: 35px;
    letter-spacing: 0px;
}
.h-sht-s-sec1-cross-sign{
	background-image: url(..images/ni/shot/b.png);
	background-size: cover;
}
.h-sht-s-sec1-tm{	
	font-size: 15px;
    bottom: 73px;
    position: relative;
}
.h-sht-img-w-100p{
	width: 100%;
}
.h-sht-s-sec1-p{
	font-family: Lato;
	font-weight: bold;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;

}
@media (max-width: 1280px) {
      .h-sht-s-sec1-p {
        font-size: 17px;
        } }
@media (min-width: 1400px){
    .h-sht-s-sec1-p {
        font-size: 24px;
    }
}

/* Quality Standards */

.qua-standard{
	background-image: url('../images/ni/qua-sta-bg.png');
	background-size: 100% 100%;
}
.qua-sta-top{
	height:40%;
}
.qua-mt{
	margin-top:2%;
}
.qua-sta-top h2{
	font-family: Times New Roman;
    text-align: center;
    margin: 0px;
    margin-top: 90px;
    font-size: 40px;
    color: #dc9f39;
    font-weight: bold;
    letter-spacing: 2px;
    /* background-image: url(../images/ni/qua-sta-daaki.png); */
    /* background-repeat: no-repeat; */
    /* background-size: 26% 100%; */
    /* background-position: center; */
    line-height: 60px;
}
.qua-sta-top p{
	font-family: Courier New;
    text-align: center;
    color: #ccc9c9;
    width: 80%;
    font-size: 15px;
    margin: 0 auto;
    letter-spacing: 1px;
    margin-top: 30px;
}
.qua-sta-bot{
	height:60%;
}
.qua-img{
	height:70px;
	margin-left: 50px;
	opacity:0;
}
.qua-img-ani{
	margin-left: 0px !important;
	transition:1s;
	opacity:1;
}
.qua-sta-bor{
	border: 4px solid #dc9f39;
    width: 5px;
    margin-top: 30px;
}
.qua-sta-bor-ani{
    width: 40px;
	transition:1s;
}
.qua-sta-bot p{
	font-family: Courier New;
    color: #ccc9c9;
    margin-top: 30px;
	letter-spacing: 2px;
}

/* facts */
.facts-blog{

}

.facts-left{
	background-image: url('../images/ni/boxerpose1.png');
	background-size: cover;
	height: 100%;
    min-height: 662px !important;
}
@media (max-width: 1280px) {
      .facts-left {
       min-height: 608px !important; } }
.fact-desc{
	background: rgba(0, 0, 0, 0.76);
    position: absolute;
    bottom: 0;
    width: 100%;
	min-height: 80px;
    padding: 0px 20px;
	border-top: 1px solid #dc9f39;
}
.fact-desc h2{
	font-family: Times New Roman;
    color: #dc9f39;
    font-size: 24px;
}
.fact-desc p{
	font-family:Times New Roman;
	color: #fff;
	font-size: 17px;
    font-style: italic;
	letter-spacing: 1px;
}
.fact-desc .share-block {
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.fact-desc .share-block span {
    color: #828282;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #828282;
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 26px;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
}
.fact-desc .share-block span {
	color: #dc9f39;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #dc9f39;
    display: inline-block;
    padding-top: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
}
.fact-desc .share-block .small-social-list {
    position: absolute;
    bottom: 16px;
    right: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.33s;
    transition: 0.33s;
}
.fact-desc .share-block .small-social-list li a {
    margin-bottom: 7px;
}
.fact-desc .share-block .soc-visible {
    height: 90px;
}
.fact-desc .share-block a {
    color: #828282;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #828282;
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 26px;
    margin-left: 5px;
    position: relative;
}

.facts-right{
	height:331px;
}
.facts-right1{
	height:100%;
}
.facts-right2{
	height:100%;
}
.facts-right1{
	background-image: url('../images/blog-bg-1.png');
	background-size: cover;
	height: 100%;
}
.facts-right2{
	background-image: url('../images/blog-bg-4.png');
	background-size: cover;
	height: 100%;
}
.facts-right3{
	height: 100%;
    background-image:  url('../images/ni/fact3-bg.png');
	background-size: 100% 100%;
}
@media (max-width: 1280px) {
      .facts-right3{
       background-size: 100% 87%; 
	   } }

.facts-right3 h2{
	font-family: Times New Roman;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 11%;
}
.facts-right3 p{
	font-family: Times New Family;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: #fff;
    margin-top: 4%;
    padding: 0 53px;
}
.facts-right3 img{
	height: 45px;
    margin-top: 15px;
}
/* Authetication */

.auth-sec{
	padding: 60px 60px !important;
	background: #fff;
	height: 100%;
}
@media (max-width: 1280px) {
	   .auth-sec-right{
			left:21px;
		}
		.auth-sec-left{
			right:18px;
		}
	}
.auth-sec-left h2{
	font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 22px;
}
.auth-sec-left p{
	font-family: Courier New;
    font-size: 16px;
    padding-top: 12px;
}
.auth-otp{
	    margin-top: 25px;
}
.auth-otp input{
	width: 40px;
    height: 40px;
}
.auth-sec form input{
	margin-top: 40px;
    line-height: 40px;
    font-size: 12px;
    width: 92%;
    border-bottom: 1px solid #afadad;
    border-top: none;
    border-left: none;
    border-right: none;
}
.auth-sec form img{
	width:150px;
	float:right;
	margin-top: 40px;
    margin-right: 50px;
}
.unique-ch-btn{
	float: right;
    margin-top: 7%;
    margin-right: 50px;
}

.auth-sec-right{
	border: 1px solid #dc9f39;
	margin-top: 23px;
}
.auth-sec-right h2{
	font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 22px;
	text-align: center;
	margin-top: 30px;
}
.asr-p1{
    font-family: Times New Roman;
    text-align: center;
    margin-top: 30px;
	margin-bottom: 60px;
    letter-spacing: 1px;
}
.dyn-auth-img{
    height: 235px;
}
.dyn-auth-val{
	font-family: Courier New;
	margin-top:40px;
	font-size: 17px;
}
.auth-footer p{
	font-family: Courier New;
    text-align: center;
    padding-top: 27px;
    font-size: 15px;
    border-top: 1px solid #dc9f39;
    margin: 30px 10px;
}


/* Retail */

.retail-left{
	width: 50%;
    float: left;
    background: #fff;
    height: 100%;
}
.retail-left-bor{
	height: 85%;
    background-image: url(../images/ni/retail-bg.png);
    background-size: 100% 100%;
    margin: 65px 35px;
}
.ret-sec-bg{
	position:relative;
	background-image: url('../images/ni/retail-bg.png');
	background-size: 100% 100%;
}
.retail-left h1{
	text-align: center;
    font-family: Times New Roman;
    font-size: 45px;
    padding-top: 80px;
    margin-bottom: 0px;
}
.retail-left p{
    padding: 90px 90px 90px 90px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 15px;
    font-style: italic;
    margin: 0;
}
.retail-img-sec{
	margin: 0 auto;
    width: 80%;
}
.retail-img{
	border: 1px solid #dc9f39;
    height: 70px;
    width: 32%;
    float: left;
    text-align: center;
    margin-left: 2px;
}
.retail-img:hover{
	background-color:#dda039;
}
.retail-left img{
    height: 45px;
    padding-top: 16px;
}
/* Contact */

.ct-mt{
	margin-top:100px !important;
}
@media (max-width: 1280px) {
      .ct-mt {
       margin-top:62px !important; } }


#map {
	height: 100%;
	width: 50%;
}
.footer .fsec1{
	background-color: #0e0e0e;
	height: 345px;
}
.footer h3{
	font-family: Times New Roman;
	font-size: 25px;
	font-weight: bold;
	font-weight: bold;
}
.stride-foo{
	color: #dc9f39;
}
.foot-logo-tm{
    font-size: 12px;
    color: #dc9f39;
    font-family: Times New Roman;
    font-weight: bold;
    margin-left: 6px;
    top: 4px;
    position: relative;
}
.stride-foo sup{
	font-size: 12px;
    top: -15px;
	color: #dc9f39;
}
.foo-links{
	color: #252525;
	text-align:center;
	font-family: AvenirLTStd Roman;
	font-size:14px;
	background-color:#252525;
	height: 345px;
}
.foo-links p{
	margin-bottom: 33px;
    color: #fff;
}
.foo-links a:hover{
    color: #fff;
    text-decoration: none;
}
.foo-links a:focus{
    color: #fff;
    text-decoration: none;
}
.foo-social{
	background-color:#898989;
	height: 345px;
}
.foo-social a{
	font-size: 20px;
    text-align: center;
	margin-bottom: 33px;
	color: #000;
}
.foo-social a:hover{
    color:#dc9f39;
}
.copy-footer{
	background-color: #000;
}
.copy-footer p{
	font-family: sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
	opacity: .5;
}	  

/* mobile home */
.m-play-btn {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 58px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.33s;
    -moz-transition: 0.33s;
    -ms-transition: 0.33s;
    -o-transition: 0.33s;
    transition: 0.33s;
    z-index: 22;
    background: url(../mimages/play-btn.png) no-repeat center center;
    background-size: 125px;
}
.mh-bullet-bg{
    background-image: url(../mimages/home/bullet_background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.t-gold{
    color: #dc9f39 !important;
}
.mh-sec2-upper-text{
    font-family: Times New Roman Regular;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.mh-sec2-lower-text{
    font-family: Lato black;
    font-size: 98px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.mh-sec3-upper-text{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 36px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mh-sec3-middle-text{
    font-family: Times New Roman Regular;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mh-sec3-lower-text{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 43px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.mh-sec4-bg{
    background-color: #fff;
}
.p-t-50{
    padding-top: 50px !important;
}
.mh-sec4-text1{
    font-family: Times New Roman;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    color: #000;
}
.m-t-150{
    margin-top: 150px;
}
.mh-sec4-text2{
    font-family: Times New Roman Regular;
    text-transform: uppercase;
    color: #4c4c4c;
    font-size: 48px;
    letter-spacing: 4px;
}

.mh-sec4-text3{
    font-family: Times New Roman;
    font-weight: bold;
    text-transform: uppercase;
    color: #dc9f39;
    font-size: 60px;
    letter-spacing: 2px;
}
.m-t-50{
    margin-top: 50px;
}
.know-more-btn{
    border: solid 1px #c2c2c2;
    background: 0;
    border-color: #6b6666;
    color: #000;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 200px;
    text-align: center;
    position: relative;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}

.know-more-btn:after {
    content: '';
    display: block;
    -webkit-transition: all .2s;
    border: solid 1px #6b6666;
    position: absolute;
    top: -5px;
    right: 3px;
    bottom: -5px;
    left: 3px;
}
.m-t-10{
    margin-top:10px;
}
.img-w-100p{
    width: 100%;
}
.m-t-50{
    margin-top: 50px;
}
.mb-sec1-h{
    font-size: 20px;
    bottom: 65px;
    position: relative;
}
.mb-sec1-first-p{
    font-size: 28px;
    margin-top: 20px;
    font-family: Times New Roman;
    letter-spacing: 3px;
}
.img-h-500{
    height: 500px !important;
}
.know-more-btn-product{
    border: solid 1px #dc9f39;
    background: 0;
    border-color: #dc9f39;
    color: #dc9f39;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 200px;
    text-align: center;
    position: relative;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

.know-more-btn-product:after {
    content: '';
    display: block;
    -webkit-transition: all .2s;
    border: solid 1px #dc9f39;
    position: absolute;
    top: -5px;
    right: 3px;
    bottom: -5px;
    left: 3px;
}
.mh-meter-bg{
    background-color: #000f16;
}
.m-t-70{
    margin-top: 70px;
}
.mh-meter-sec1-first-p{
    font-size: 27px;
    margin-top: 20px;
    font-family: Times New Roman;
    color: #dc9f39;
    letter-spacing: 2px;
}
.img-h-105{
    height: 105px;
}
.mk-sec1-p1{
    font-family: Courier New;
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
    color: #fff;
    letter-spacing: 1px;
}
.mh-type90-bg{
    background-image: url(../mimages/home/type90_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}
.mt90-sec1-h1{
    font-family: Cash Currency;
    font-size: 42px;
    letter-spacing: 5px;
    color: #dc9f39;
    margin-top: 35px;
}
.mt90-sec1-p3{
    font-family: Lato Black;
    opacity: .2;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 4px;
}
.mt90-sec1-left-img{
    height: 200px;
    margin-left: 30px;
    margin-top: 40px;
}
.mh-t90-sec1-p4{
    font-family: Courier New;
    text-align: center;
    font-size: 30px;
    color: #dc9f39;
}
.mh-t22-text-padding{
    padding:0px 80px 0px 80px;
}
.mh-blitz-bg{
    background-color: #f5f5f5;
}
.p-t-30{
    padding-top: 30px;
}
.see-more-btn{
    border: solid 1px #fff;
    background: 0;
    border-color: #fff;
    color: #fff;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 160px;
    text-align: center;
    position: relative;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

.see-more-btn:after{
    content: '';
    display: block;
    -webkit-transition: all .2s;
    border: solid 1px #fff;
    position: absolute;
    top: -5px;
    right: 3px;
    bottom: -5px;
    left: 3px;
}
.mh-qs-heading{
    font-family: Times New Roman;
    font-size: 50px;
    color: #dc9f39;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}
.mh-qs-text{
    font-family: Courier New;
    text-align: center;
    color: #ccc9c9;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 50px;
    text-align: center;
}
.mh-qs-upper-text-padding{
    padding-left: 70px;
    padding-right: 70px;
}
.mh-qs-text2{
    font-family: Courier New;
    text-align: center;
    color: #ccc9c9;
    font-size: 26px;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 95px;
}
.contact-sec-comment{
    padding-bottom: 180px !important;
}
.contact-sec form input{
    margin-top: 40px;
    line-height: 40px;
    font-size: 20px !important;
    width: 98%;
    border: 2px solid #afadad;
    color: #6b6666;
    padding: 20px; 
}
.check-btn{
    border: solid 1px #c2c2c2;
    background: 0;
    border-color: #6b6666;
    color: #000;
    display: table;
    /*margin-right: auto;*/
    margin-left: auto;
    padding: 6px;
    width: 200px;
    text-align: center;
    position: relative;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

.check-btn:after {
    content: '';
    display: block;
    -webkit-transition: all .2s;
    border: solid 1px #6b6666;
    position: absolute;
    top: -5px;
    right: 3px;
    bottom: -5px;
    left: 3px;
}
.m-t-160{
    margin-top: 160px;
}
.mt90-sec1-p1{
    font-family: Lato Black;
    font-size: 122px;
    color: #fff;
    line-height: 90px;
    opacity: .2;
    margin: 0px;
}

.img-h-70{
    height: 70px;
}
.mm-sec3 h1{
    font-size: 65px;
    margin-top: 80px;
    font-family: Cash Currency;
    letter-spacing: 5px;
    color: #dc9f39;
}
.img-h-210{
    height: 210px;
}
.mh-sec6-background{
    background-image: url(../mimages/home/section6/bg.png);
    background-size: 100% 100%;
    height: 440px;
}
.mh-sec6-text1{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    padding-top: 30px;
    letter-spacing: 3px;
}

.mh-sec6-text2{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 26px;
    color: #fff;
    letter-spacing: 1px;
    padding-top: 30px;
}
.mh-sec5-background-1{
    background-image: url(../mimages/home/section5/bg.jpg);
    background-size: 100% 100%;
    height: 970px;
}

.mh-sec5-background-2{
    background-image: url(../mimages/home/section5/bg1.png);
    background-size: 100% 100%;
    height: 241px;
}

.mh-sec5-text1{
    font-family: Times New Roman regular;
    font-size: 32px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mh-sec5-text2{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 4px;
}

.m-t-730{
    margin-top: 730px;
}

.p-l-90{
    padding-left: 90px;
}

.mh-sec5-left-background-1{
    background-image: url(../mimages/home/section5/left-background/bg.jpg);
    background-size: 100% 100%;
    height: 485px;
}
.mh-sec5-right-background-1{
    background-image: url(../mimages/home/section5/right-background/bg.jpg);
    background-size: 100% 100%;
    height: 485px;
}
.mh-sec5-left-text1{
    font-family: Times New Roman regular;
    font-size: 20px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.mh-sec5-left-text2{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 2px;
}
.mh-sec5-left-background-2{
    background-image: url(../mimages/home/section5/bg1.png);
    background-size: 100% 100%;
    height: 129px;
    
}
.mh-sec5-left-padding{
    padding-top: 17px;
    padding-left: 25px;
}
.m-t-356{
    margin-top: 356px;
}
.img-h-210{
    height: 210px;
}

.mh-sec7-gossip-bg{
    background-color: #06b2de;
}

.mh-sec7-user-image{
    border-radius: 50%;
}

.img-h-180{
    height: 180px;
}

.mh-sec7-text1{
    font-family: Lato;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
}

.mh-sec7-text2{
    font-family: Lato Light;
    font-size: 28px;
    letter-spacing: 2px;
}

.mh-sec7-text3{
    font-family: Lato Light;
    font-size: 25px;
    letter-spacing: 2px;
}

.m-t-350{
    margin-top: 350px;
}


@media (max-width: 400px) {
	.auth-sec{
    padding: 60px 60px !important;
    background: #fff;
    height: 100%;
}
.auth-sec-left h2{
    font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 30px;
    letter-spacing: 1px;
}
.auth-sec-left p{
    font-family: Courier New Regular;
    font-size: 22px;
    padding-top: 12px;
    color: #000;
    letter-spacing: 1px;
}
.auth-otp{
        margin-top: 25px;
}
	.auth-otp input{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    margin: 5px;

}
.auth-sec form input{
    margin-top: 40px;
    line-height: 20px;
    font-size: 20px !important;
    width: 92%;
    border-bottom: 2px solid #afadad;
    border-top: none;
    border-left: none;
    border-right: none;
}
.auth-sec form img{
    width:150px;
    float:right;
    margin-top: 40px;
    margin-right: 50px;
}

.auth-sec-right{
    border: 1px solid #dc9f39;
        margin-top: 23px;
}
.auth-sec-right h2{
    font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.auth-sec-right{
    border: 1px solid #dc9f39;
        margin-top: 23px;
}
.auth-sec-right h2{
    font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px;
}

.asr-p1{
    font-family: Times New Roman;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    color: #000;
    font-size: 25px;
}
@media (max-width: 400px) {
	.dyn-auth-img{
		height: 400px;
	}
}

.dyn-auth-val p{
    font-family: Courier New;
    margin-top:40px;
    font-size: 28px;
    color: #000;
}
.auth-footer p{
    font-family: Courier New;
    text-align: center;
    padding-top: 27px;
    font-size: 22px;
    border-top: 1px solid #dc9f39;
    margin: 30px 10px;
    color: #000;
    letter-spacing: 1px;
}
.retail-left-bor{
    height: 990px;
    background-image: url(../mimages/home/retail/bg.png);
    background-size: 100% 100%;
    /*margin: 65px 35px;*/
}

.ret-sec-bg{
    background-image: url('../mimages/home/retail/bg.png');
    background-size: 100% 100%;
}
.retail-text1{
    text-align: center;
    font-family: Times New Roman;
    font-size: 75px;
    padding-top: 160px;
    margin-bottom: 0px;
    color: #000;
    letter-spacing: 1px;
}
.retail-text2{
    padding: 150px 90px 90px 90px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 28px;
    font-style: italic;
    margin: 0;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 120px;
}
.retail-img-sec{
    margin: 0 auto;
    width: 80%;
}
.retail-img{
    border: 1px solid #dc9f39;
    height: 110px;
    width: 32%;
    float: left;
    text-align: center;
    margin-left: 2px;
    padding-top: 33px;
}
.retail-img:hover{
    background-color:#dda039;
}
.retail-left img{
    height: 45px;
    padding-top: 16px;
}

.bg-contact{
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}

.height-footer{
    height: 70px !important;
}

.retail-store-section{
    padding-left: 45px;
    padding-right: 13px;
}

.mh-contact-section-text1{
    font-family: Times New Roman Regular;
    font-size: 40px;
    color: #859aa1;
    letter-spacing: 3px;
    margin-top: 10px;
}

.mh-contact-section-text2{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 50px;
    color: #dda039;
    margin-top: 10px;
}

.mh-contact-section-text3{
    font-family: Times New Roman Regular;
    font-size: 26px;
    color: #556b72;
    margin-top: 40px;
    letter-spacing: 1px;
}

.mh-contact-us-section{
    color: #000 !important;
}

.mh-contact-section-address-head{
    font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 34px;
    margin-top: 10px;
    letter-spacing: 4px;
}
}




.m-l-45{
    margin-left: 45px;
}


/*.retail-left{
    width: 50%;
    float: left;
    background: #fff;
    height: 100%;
}*/
