.profile-page{
  .profile-hero{
    height: 570px;
    background: url(../images/profile/profile-hero.jpg) no-repeat center center;
    background-size: cover;
    @media (max-width: 1024px){
      height: 370px;
    }
  }
  .nav-bar{
    border-top: 1px rgba(255, 255, 255, 0.4) solid;
    .nav{
      width: 100%;
      li{
        a{
          @media (max-width: 1500px){
            padding: 14px 15px;
          }
          @media (max-width: 1200px){
            padding: 14px 7px;
          }
          @media (max-width: 1024px){
            padding: 12px 7px;
          }
        }
      }
    }
  }
  .profile-section{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .profile-row{
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
    clear: both;
  }
  .profile-photo{
    width: 20%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    @media (max-width: 1024px){
      width: 100%;
      padding-bottom: 20px;
    }
    img{
      display: block;
      width: 100%;
      height: auto;
      @media (max-width: 1024px){
        width: 280px;
        margin: 0 auto;
      }
    }
  }
  .profile-block{
    width: 80%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    color: #000;
    @media (max-width: 1024px){
      width: 100%;
      padding: 0 20px;
    }
  }
  .profile-header{
    padding: 35px 40px 60px;
    background-color: #fff;
    font-family: $font-avenir-book;
    @media (max-width: 768px){
      padding: 30px;
    }
    @media (max-width: 480px){
      padding: 15px;
    }
    &-line{
      display: inline-block;
    }
    &__name{
      font-size: 70px;
      line-height: 85px;
      font-family: $font-avenir-heavy;
      overflow: hidden;
      margin-bottom: 17px;
      @media (max-width: 768px){
        font-size: 50px;
        line-height: 70px;
      }
      @media (max-width: 480px){
        font-size: 25px;
        line-height: 50px;
      }
      .profile-edit-input{
        padding: 0 10px;
        font-size: 70px;
        line-height: 85px;
        font-family: $font-avenir-heavy;
        @media (max-width: 768px){
          font-size: 50px;
          line-height: 70px;
        }
        @media (max-width: 480px){
          font-size: 25px;
          line-height: 50px;
        }
      }
      .profile-edit{
        display: inline-block;
        width: 85px;
        height: 85px;
        @media (max-width: 768px){
          width: 70px;
          height: 70px;
        }
        @media (max-width: 480px){
          width: 50px;
          height: 50px;
        }
      }
    }
    &__position{
      font-size: 26px;
      line-height: 39px;
      overflow: hidden;
      margin-bottom: 11px;
      @media (max-width: 768px){
        font-size: 20px;
        line-height: 30px;
      }
      @media (max-width: 480px){
        font-size: 16px;
      }
      .profile-edit-input{
        padding: 0 10px;
        font-size: 26px;
        line-height: 39px;
        @media (max-width: 768px){
          font-size: 20px;
          line-height: 30px;
        }
        @media (max-width: 480px){
          font-size: 16px;
        }
      }
      .profile-edit{
        display: inline-block;
        width: 39px;
        height: 39px;
        @media (max-width: 768px){
          width: 30px;
          height: 30px;
        }
      }
    }
    &__location{
      font-size: 20px;
      line-height: 32px;
      overflow: hidden;
      margin-bottom: 37px;
      @media (max-width: 768px){
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      @media (max-width: 480px){
        font-size: 14px;
      }
      .profile-edit-input{
        font-family: inherit;
        padding: 0 10px;
        font-size: 20px;
        line-height: 32px;
        @media (max-width: 768px){
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 20px;
        }
        @media (max-width: 480px){
          font-size: 14px;
        }
      }
      .profile-edit{
        display: inline-block;
        width: 32px;
        height: 32px;
        @media (max-width: 768px){
          width: 24px;
          height: 24px;
        }
      }
    }
    &__indicators{
      font-size: 24px;
      line-height: 32px;
      overflow: hidden;
      @media (max-width: 768px){
        font-size: 20px;
        line-height: 30px;
      }
      @media (max-width: 480px){
        font-size: 16px;
      }
      .profile-edit-input{
        padding: 0 10px;
        font-family: inherit;
        font-size: 24px;
        line-height: 32px;
        @media (max-width: 768px){
          font-size: 20px;
          line-height: 30px;
        }
        @media (max-width: 480px){
          font-size: 16px;
        }
      }
      .profile-edit{
        display: inline-block;
        width: 32px;
        height: 32px;
        @media (max-width: 768px){
          width: 30px;
          height: 30px;
        }
      }
    }
    .profile-edit-value{
      display: block;
      float: left;
      padding: 0 12px;
      font-size: inherit;
      line-height: inherit;
      cursor: pointer;
      position: relative;
      &.active{
        background-color: #ebebeb;
      }
    }
    .profile-indicators{
      margin-right: 0;
      padding-right: 30px;
      @media (max-width: 480px){
        padding: 0 5px 0 12px;
        font-size: 14px;
      }
    }
    .profile-edit{
      display: none;
      margin-left: 5px;
      padding: 0;
      cursor: pointer;
      background-color: #ebebeb;
      &.active{
        display: inline-block;
      }
      img{
        display: inline-block;
        height: 100%;
        width: auto;
        vertical-align: bottom;
      }
    }
    .profile-edit-input{
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      font-family: inherit;
      &.active{
        display: block;
      }
    }
  }
  .profile-tabs{
    margin-bottom: 3px;
    background-color: #fff;
    overflow: hidden;
    ul{
      margin-left: -1px;
      margin-right: -1px;
      @media (max-width: 600px){
        margin-bottom: -1px;
        overflow: hidden;
      }
    }
    li{
      display: block;
      width: 25%;
      float: left;
      padding: 0 1px;
      box-sizing: border-box;
      @media (max-width: 600px){
        width: 50%;
        padding: 1px;
      }
      span{
        display: block;
        background-color: #e1e1e1;
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 1;
        padding: 17px 0;
        cursor: pointer;
        @media (max-width: 768px){
          font-size: 14px;
        }
        &.active{
          background-color: $daaki-orange-color;
          color: #fff;
        }
      }
    }
  }
  .profile-tab{
    display: none;
  }
  .profile-tab.active{
    display: block;
  }
  .order{
    background-color: #fff;
    overflow: hidden;
    padding: 15px 0;
    margin-bottom: 3px;
    &-header{
      padding: 8px 50px;
      overflow: hidden;
      font-size: 13px;
      line-height: 25px;
      background-color: #f3f3f3;
      @media (max-width: 768px){
        padding: 8px 30px;
      }
      @media (max-width: 600px){
        font-size: 12px;
      }
      @media (max-width: 480px){
        padding: 8px 15px;
      }
      &--left{
        float: left;
        ul{
          float: left;
          margin-right: 60px;
          @media (max-width: 600px){
            margin-right: 20px;
          }
        }
      }
      &--right{
        float: right;
        text-align: right;
        @media (max-width: 480px){
          float: left;
        }
        a{
          color: $daaki-orange-color;
          display: inline-block;
          &:first-child{
            margin-right: 20px;
            position: relative;
            &:before{
              content: '';
              width: 1px;
              height: 16px;
              background-color: $daaki-orange-color;
              position: absolute;
              bottom: 3px;
              right: -20px;
            }
          }
          &:last-child{
            padding-left: 27px;
            background: url(../images/profile/profile-invoice-icon.png) no-repeat center left;
            margin-left: 15px;
          }
        }
      }
    }
    &-row{
      overflow: hidden;
      clear: both;
      position: relative;
    }
    &-col{
      float: left;
      padding: 0 50px;
      box-sizing: border-box;
      @media (max-width: 768px){
        padding: 0 30px;
      }
      @media (max-width: 480px){
        padding: 0 15px;
      }
      &--left{
        width: 70%;
        @media (max-width: 1400px){
          width: 65%;
        }
        @media (max-width: 768px){
          width: 100%;
        }
      }
      &--right{
        width: 30%;
        padding: 0 50px 0 30px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 1400px){
          padding: 0 50px 0 0;
          width: 35%;
        }
        @media (max-width: 768px){
          width: 100%;
          position: relative;
          right: 0;
          top: 0;
          transform: translateY(0);
          text-align: center;
          padding: 0 50px 10px;
        }
        @media (max-width: 480px){
          padding: 0 15px;
        }
      }
    }
    &-title{
      padding: 40px 50px 0;
      font-family: $font-avenir-heavy;
      font-size: 25px;
      @media (max-width: 768px){
        padding: 30px 30px 0;
      }
      @media (max-width: 480px){
        font-size: 20px;
        padding: 15px 15px 0;
      }
    }
    &-status{
      font-size: 18px;
      padding: 10px 0;
      &.dispatched{
        color: #0dae01;
      }
      @media (max-width: 480px){
        font-size: 16px;
      }
    }
    &-status-line{
      height: 13px;
      background-color: #ebebeb;
      overflow: hidden;
      span{
        display: block;
        width: 100%;
        height: 100%;
        background-color: #0dae01;
        margin-left: -100%;
        transform: translateX(40%);
      }
    }
    &-bank{
      padding: 25px;
      @media (max-width: 480px){
        padding: 20px 0;
      }
      img{
        display: inline-block;
        vertical-align: middle;
      }
      span{
        margin-left: 70px;
        display: inline-block;
        vertical-align: middle;
        font-family: $font-avenir-medium;
        font-size: 18px;
        line-height: 25px;
        @media (max-width: 480px){
          margin-left: 20px;
          font-size: 16px;
        }
      }
    }
    &-buttons{
      @media (max-width: 768px){
        max-width: 300px;
        margin: 0 auto;
      }
      a{
        font-family: $font-avenir-medium;
        font-size: 18px;
        line-height: 25px;
        display: block;
        width: 100%;
        padding: 11px 0;
        text-align: center;
        background-color: #ebebeb;
        color: #000;
        margin-top: 10px;
        @media (max-width: 768px){
          font-size: 16px;
          line-height: 20px;
        }
        &:hover{
          background-color: $daaki-orange-color;
          color: #fff;
        }
      }
    }
  }
  .prof-info{
    padding: 80px 50px;
    background-color: #fff;
    overflow: hidden;
    clear: both;
    font-size: 18px;
    line-height: 46px;
    position: relative;
    @media (max-width: 768px){
      padding: 50px 30px;
      font-size: 14px;
      line-height: 40px;
    }
    @media (max-width: 480px){
      padding: 30px 15px;
      font-size: 12px;
    }
    &-title{
      float: left;
      font-family: $font-avenir-roman;
      text-align: right;
      @media (max-width: 480px){
        text-align: left;
      }
    }
    &-value{
      float: left;
      font-family: $font-avenir-book;
      text-align: left;
      margin-left: 55px;
      li{
        position: relative;
        display: inline-block;
        line-height: 26px;
        margin: 10px 0;
        padding: 0 10px;
        @media (max-width: 768px){
          line-height: 20px;
        }
        &.active{
          background-color: #ebebeb;
          &:before{
            content: '';
            width: 26px;
            height: 26px;
            background: #ebebeb url(../images/profile/profile-edit-icon.png) no-repeat center center;
            background-size: cover;
            position: absolute;
            right: -28px;
            top: 0;
            @media (max-width: 768px){
              width: 20px;
              height: 20px;
              right: -22px;
            }
            @media (max-width: 480px){
              right: auto;
              left: -22px;
            }
          }
        }
        .prof-info-input{
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0 8px;
          box-sizing: border-box;
          font-family: $font-avenir-book;
          line-height: inherit;
          font-size: inherit;
          &.active{
            display: block;
          }
        }
      }
      @media (max-width: 480px){
        margin-left: 0;
        float: right;
        text-align: right;
      }
    }
    &-button{
      float: right;
      color: $daaki-orange-color;
      cursor: pointer;
      @media (max-width: 600px){
        position: absolute;
        right: 30px;
        bottom: 15px;
      }
      @media (max-width: 480px){
        right: 15px;
        bottom: 0;
      }
    }
  }
  .address{
    background-color: #fff;
    padding: 55px 50px;
    font-family: $font-avenir-book;
    font-size: 18px;
    line-height: 1.2;
    @media (max-width: 768px){
      font-size: 14px;
      padding: 30px;
    }
    &-block-wrapper{
      position: relative;
      &:after{
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }
    &-block{
      float: left;
      width: 370px;
      padding: 40px 35px;
      border: 1px #c7c7c7 solid;
      box-sizing: border-box;
      position: relative;
      &:hover{
        border: 1px $daaki-orange-color solid;
        .address-close-btn{
          width: 30px;
          height: 30px;
          background: url(../images/profile/profile-delete-btn.png) no-repeat center center;
          position: absolute;
          right: -15px;
          top: -15px;
          cursor: pointer;
        }
      }
      @media (max-width: 1200px){
        width: 49%;
      }
      @media (max-width: 768px){
        padding: 20px;
      }
      @media (max-width: 600px){
        width: 100%;
      }
      &__add-new{
        position: absolute;
        height: 100%;
        left: 405px;
        top: 0;
        cursor: pointer;
        border: 1px #c7c7c7 dotted;
        &:hover{
          border: 1px $daaki-orange-color solid;
          color: $daaki-orange-color;
          .address-block__add-new-img{
            background: url(../images/profile/profile-add-new-icon-hover.png) no-repeat center center;
            background-size: cover;
          }
        }
        @media (max-width: 1200px){
          left: auto;
          right: 0;
        }
        @media (max-width: 600px){
          position: relative;
          left: auto;
          top: auto;
          padding: 20px;
          margin-top: 10px;
        }
        &-img{
          width: 57px;
          height: 57px;
          margin: 0 auto;
          background: url(../images/profile/profile-add-new-icon.png) no-repeat center center;
          background-size: cover;
        }
        &-content{
          position: absolute;
          width: 100%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          @media (max-width: 600px){
            position: relative;
            left: auto;
            top: auto;
            transform: translateY(0);
          }
          span{
            display: block;
            font-family: $font-avenir-roman;
            margin-top: 20px;
          }
        }
      }
    }
    &-title{
      font-family: $font-avenir-roman;
      margin-bottom: 20px;
    }
  }
  .change-pass{
    background-color: #fff;
    padding: 50px;
    @media (max-width: 768px){
      padding: 30px;
    }
    @media (max-width: 480px){
      padding: 30px 15px;
    }
    form{
      width: 290px;
      @media (max-width: 480px){
        width: 100%;
      }
    }
    input{
      display: block;
      width: 100%;
      border: 1px #c7c7c7 solid;
      font-size: 12px;
      padding: 12px 34px;
      margin-bottom: 30px;
      box-sizing: border-box;
      border-radius: 0;
      -webkit-appearance: none;
      @media (max-width: 768px){
        margin-bottom: 20px;
      }
      &:focus{
        outline: none;
      }
      &[type="submit"]{
        border: none;
        background-color: $daaki-orange-color;
        color: #000;
        text-align: center;
        margin-bottom: 0;
        font-size: 15px;
        cursor: pointer;
        border-radius: 0;
        -webkit-appearance: none;
      }
    }
  }
}
