//dafault fonts

$font-avenir-heavy: 'Avenir LT Std 85 Heavy';
$font-avenir-roman: 'AvenirLTStd-Roman';
$font-avenir-black: 'Avenir LT Std 95 Black';
$font-avenir-medium: 'AvenirLTStd-Medium';
$font-avenir-book: 'AvenirLTStd-Book';
$font-avenir-light: 'AvenirLTStd-Light';
$font-avenir-book-oblique: 'AvenirLTStd-BookOblique';
$font-open-sans: 'Open Sans', sans-serif;
$canal-demi: 'CanalDemiRomain';

//default fonts-size
$font-size-icons: 23px;
$font-size-arrow-down: 29px;
$fontsize-base: 12px;

$daaki-font-size-h1: 79px;
$daaki-font-size-h2: 50px;
$daaki-font-size-h3: 35px;
$daaki-font-size-h4: 26px;
$daaki-font-size-h5: 22px;
$daaki-font-size-h6: 10px;

