
.slider-section-ui {
  position: relative;
  overflow: hidden;
  -webkit-transition: 2.66s;
  -moz-transition: 2.66s;
  -ms-transition: 2.66s;
  -o-transition: 2.66s;
  transition: 2.66s;
  z-index: 222;
  @media(max-width: 1000px){
    display: none!important;
  }
  .slider-content-ui {
    width: 100%;
    height: 100%;
  }

  .arrow-down {
    z-index: 22;
    bottom: 67px;
    background-color: rgba(156, 150, 150, 0.69);
    border-radius: 50%;
    overflow: hidden;
  }
  .fp-controlArrow {
    display: none;
  }
  .scroll-bar-wrap {
    width: 100%;
    height: 48px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 22;
    border: none;
    .small-bank {
      width: 26px;
      height: 33px;
      background: url("../images/small-bank-white.png") no-repeat center;
      position: absolute;
      top: 8px;
      right: 35px;
      .small-bank-orange {
        width: 26px;
        height: 0;
        background: url("../images/small-bank.png") no-repeat center;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.ui-widget-header {
  border: none;
}

.scroll-pane {
  overflow: hidden !important;
  width: 100%;
  float: left;
  height: 100%;
  cursor: ew-resize;
}

.scroll-content {
  width: auto;
  float: left;
  height: 100%;
}

.scroll-content-item {
  height: 100%;
  float: left;
  margin: 0 !important;
  border: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll-bar-wrap .ui-slider {
  border: none;
  width: 90% !important;
  background: none;
  height: 2px;
  top: 23px;
  left: 20px;

}

.scroll-bar-wrap .ui-handle-helper-parent {
  position: relative;
  width: 100% !important;
  height: 100%;
  //margin: 0 auto;
  left: 0;

}

.ui-slider-handle {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
  position: absolute !important;
  top: -2px !important;
  display: block !important;
  background: $daaki-orange-color !important;
  -webkit-box-shadow: 0px 0px 4px #F96400 !important;
  -moz-box-shadow: 0px 0px 4px #F96400 !important;
  box-shadow: 0px 0px 4px #F96400 !important;
  cursor: pointer !important;
  border: none !important;
  margin-left: 0px !important;
  outline: none !important;
}

.ui-slider-range {
  background: $daaki-orange-color;
  -webkit-box-shadow: 0px 0px 4px #F96400;
  -moz-box-shadow: 0px 0px 4px #F96400;
  box-shadow: 0px 0px 4px #F96400;
  position: absolute;
  border: 0;
  top: 0;
  height: 100%;
  border-radius: 25px;
}

.section-fixed {
  position: fixed;
  top: 0;
}

.two-col-block {
  width: 50%;
  float: left;
  height: 100%;
  p {
    font-size: $daaki-font-size-h3/2;
    font-family: $font-avenir-book-oblique;
    padding: 20px 0 0 10px;
    line-height: 22px;
    color: #fff;
  }
}

.slide-1 {
  .top-left-block {
    background: url("../images/slide-1/jar-logo.png") no-repeat center center $daaki-orange-color;
    height: 50%;
  }
  .bottom-left-block {
    height: 50%;
    position: relative;
    background: #000000;
    .small-bottom-bank {
      width: 350px;
      height: 350px;
      position: absolute;
      bottom: 50px;
      right: 0;
      margin-right: 35px;
      background: url("../images/slide-1/slide-small-bank.png") no-repeat center;
      background-size: contain;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      @media(max-width: 1700px) {
        width: 320px;
        height: 320px;
      }
      @media(max-width: 1440px) {
        width: 300px;
        height: 300px;
        margin-right: 15px;
      }
      @media(max-width: 1280px) {
        width: 210px;
        height: 210px;
        margin-right: 0;
      }
    }
    .bank-move {
      right: 60px;
    }
  }
  .top-right-block {
    background: url("../images/slide-1/drawing-big-bank.png") no-repeat center bottom #434141;
    height: 60%;
    background-size: 35%;
    padding-top: 30px;
    box-sizing: border-box;
  }
  .bottom-right-block {
    height: 40%;
    .small-col-left {
      height: 100%;
      background: url("../images/slide-1/jar-bottom.png") no-repeat center center #fff;
      border-right: 1px solid #000;

    }
    .small-col-right {
      height: 100%;
      background: url("../images/slide-1/jar-top.png") no-repeat center center #fff;
    }
  }
}

.slide-2 {
  .left-side {
    background: #a8a8a8;
    height: 100%;
    position: relative;
    .big-bank {
      width: 643px;
      height: 660px;
      background: url("../images/slide-2/left-big-bank.png") no-repeat center;
      background-size: contain;
      position: absolute;
      bottom: 0;
      right: 0;
      -webkit-transition: 0.33s;
      -moz-transition: 0.33s;
      -ms-transition: 0.33s;
      -o-transition: 0.33s;
      transition: 0.33s;
      @media(max-width: 1700px){
        width: 500px;
        height: 568px;
      }
      @media (max-width: 1400px) {
        width: 443px;
        height: 460px;
        right: 50px;
      }
      @media(max-width: 1280px){
        width: 543px;
        height: 560px;
      }
    }
    .small-left-bank {
      width: 600px;
      height: 468px;
      background: url("../images/slide-2/left-small-bank.png") no-repeat center;
      background-size: contain;
      position: absolute;
      top: 40px;
      left: 0;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      @media(max-width: 1700px){
        width: 500px;
        height: 468px;
      }
      @media(max-width: 1440px){
        width: 400px;
        height: 368px;
      }
      @media(max-width: 1280px){
        width: 400px;
        height: 368px;
      }
    }
    .small-left-bank-move {
      left: 50px;
    }
    .small-right-bank {
      width: 360px;
      height: 431px;
      background: url("../images/slide-2/right-small-bank.png") no-repeat center;
      background-size: contain;
      position: absolute;
      top: 0;
      right: -35px;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      @media(max-width: 1700px){
        width: 400px;
        height: 368px;
      }
      @media(max-width: 1280px){
        width: 400px;
        height: 368px;
      }
      @media(max-width: 1280px){
        width: 260px;
        height: 431px;
      }
    }
    .small-right-bank-move {
      top: 50px;
    }
  }
  .right-side {
    height: 100%;
    position: relative;
    background: #000000;
    .big-bank {
      height: 100%;
      background: url("../images/slide-2/orange-big-bank.png") no-repeat center center;
      background-size: 100%;
      position: absolute;
      width: 100%;
      top: -100px;
      -webkit-transition: 0.33s;
      -moz-transition: 0.33s;
      -ms-transition: 0.33s;
      -o-transition: 0.33s;
      transition: 0.33s;

    }
    p {
      position: absolute;
      bottom: 53px;
      text-align: center;
      right: 0;
      left: 0;
    }
  }
}

.slide-3 {
  .left-side {
    height: 100%;
    background: #262626;
    position: relative;
    p {
      padding-top: 45px;
    }
    .big-cup {
      width: 625px;
      height: 380px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: url("../images/slide-3/big-cup.png") no-repeat center;
      background-size: contain;
      @media(max-width: 1440px){
        width: 425px;
        height: 280px;
      }
    }
    .small-left-cup {
      width: 327px;
      height: 280px;
      position: absolute;
      top: 30%;
      left: 50px;
      background: url("../images/slide-3/small-left-cup.png") no-repeat center;
      background-size: contain;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      @media(max-width: 1440px){
        width: 227px;
        height: 180px;
      }
    }
    .small-left-cup-move {
      left: 100px;
    }
    .small-right-cup {
      width: 434px;
      height: 339px;
      position: absolute;
      top: 50px;
      right: 50px;
      margin: auto;
      background: url("../images/slide-3/small-right-cup.png") no-repeat center;
      background-size: contain;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      @media(max-width: 1440px){
        width: 334px;
        height: 239px;
      }
    }
    .small-right-cup-move {
      width: 280px;
      height: 280px;
    }
  }
  .right-side {
    height: 100%;
    .top-block {
      height: 50%;
      background: $daaki-orange-color;
      position: relative;
      p {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        font-size: 15px;
        height: 76px;
        left: 0;
        right: 0;
      }
    }
    .bottom-block {
      height: 50%;
      background: #8c8c8c;
      position: relative;
      p {
        color: black;
      }
      .half-bank {
        width: 481px;
        height: 90%;
        background: url("../images/slide-3/half-bank.png") no-repeat center;
        background-size: contain;
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
      }
    }
  }
}

.slide-4 {
  .top-block {
    height: 50%;
    background: url("../images/slide-4/small-top-bank.png") no-repeat center top 75px #766054;
    position: relative;
    background-size: 23%;
    p {
      position: absolute;
      bottom: 30px;
      width: 100%;
      text-align: center;
    }

  }
  .botoom-block {
    height: 50%;
    background: url("../images/slide-4/pic-1.png") no-repeat center center #ecdbb1;
    p {
      color: #000;
    }
  }
  .right-side {
    background: #161616;
    height: 100%;
    position: relative;
    overflow: hidden;
    .top-logo {
      width: 185px;
      height: 50px;
      margin: 60px auto 0 auto;
      background: url("../images/slide-4/jar-small-logo.png");
    }
    .process {
      width: 317px;
      height: 86px;
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
      margin: auto;
      background: url("../images/slide-4/process.png");
    }
    .products-small-block {
      width: 100%;
      height: 500px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @media(max-width: 1440px){
        height: 400px;
      }
      .thr-col-block {
        width: 33.33%;
        height: 100%;
        border-right: 1px dashed #ffffff;
        float: left;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        &:last-child {
          border: none;
        }
        span {
          font-size: 40px;
          font-family: "Avenir LT Std 85 Heavy";
          color: #ff6600;
          position: absolute;
          bottom: 0;
          display: block;
          left: 0;
          right: 0;
        }
      }
    }
    .hov-bank-block {
      width: 320px;
      height: 400px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      @media(max-width: 1440px){
        width: 280px;
        height: 320px;
      }
      .bullet-hov {
        width: 100%;
        height: 100%;
        background: url("../images/slide-4/bullet-small.png") no-repeat center;
        background-size: contain;
        display: none;
        z-index: 2;
      }
      .metter-hov {
        width: 100%;
        height: 100%;
        background: url("../images/slide-4/metter-small.png") no-repeat center;
        background-size: contain;
        position: absolute;
      }
      .kasuta-hov {
        width: 100%;
        height: 100%;
        background: url("../images/slide-4/kasuta-small.png") no-repeat center;
        background-size: contain;
        display: none;
        position: absolute;
        z-index: 3;
      }
    }
  }
}

.slide-5 {
  .left-side {
    height: 100%;
    background: #161616;
    position: relative;
    .logo-top {
      width: 129px;
      height: 90px;
      top: 70px;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      background: url("../images/slide-5/logo-top.png") no-repeat center;
    }
    .logo-middle {
      width: 373px;
      height: 106px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: url("../images/slide-5/logo-middle.png") no-repeat center;
    }
    .logo-bottom {
      width: 356px;
      height: 58px;
      position: absolute;
      bottom: 70px;
      left: 0;
      right: 0;
      margin: auto;
      background: url("../images/slide-5/logo-bottom.png") no-repeat center;
    }
  }
  .right-side {
    background: $daaki-orange-color;
    position: relative;
    height: 100%;
    .fb-block {
      width: 199px;
      height: 252px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("../images/slide-5/fb-logo.png") no-repeat center;

    }
  }
}

.section-fixed-slid {
  position: fixed !important;
}