

.mm-main-padding{
	padding-left:35px;
	padding-right:35px;
}

.m-t-50{
	margin-top: 50px;
}

.m-t-20{
	margin-top: 20px;
}

.m-t-150{
	margin-top: 150px;
}

.m-t-120{
	margin-top: 120px;
}

.m-t-100{
	margin-top: 100px;
}
.m-t-75{
	margin-top: 75px !important;
}
.m-t-40{
	margin-top: 40px;
}

.m-t-30{
	margin-top: 30px !important;
}

.m-t-70{
	margin-top: 70px;
}

.m-t-35{
	margin-top: 35px !important;
}

.m-t-55{
	margin-top: 55px !important;
}
 .m-t-151{
 	margin-top: 151px;
 }
 .m-t-200{
 	margin-top: 200px;
 }
/* Header Start */

header{
	min-height: 140px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    border-bottom: 1px solid #dfa03b;
    z-index: 99;
    padding-top: 20px
}
 
.menu_icon{
	height : 55px;
	margin-top: 24px;
}

.logo{
	margin-top: 18px;
}

.cart_section{
	margin-top:15px;
}

.cart_section i{
	font-size: 52px;
    color: #fff;
    margin: 0px;
    padding-top: 8px;
}

/* Header End */

/* Section 1 */

.mm-sec1-first-p{
	font-size: 27px;
    margin-top: 20px;
    font-family: Times New Roman;
    color: #dc9f39;
}

.mm-sec1-p2{
 	
 	padding-top: 30px;
}

.mm-sec1-p2-p1{
	font-size: 30px;
	letter-spacing: 8px;
}

.mm-sec1-p2-p2{
	font-size: 30px;
	letter-spacing: 10px;
}

.mm-sec1-p2-p3{
	font-size: 30px;
	letter-spacing: 20px;
}

.mm-sec1-p2-p4{
	font-size: 30px;
	letter-spacing:28px;
}

.mm-sec1-img{
	height:400px;
}

.mm-sec1-h{
	font-size: 20px;
    bottom: 45px;
    position: relative;
}

/* SECTION - 2 */

.mm-sec2-p{
    font-family: Times New Roman;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
}

.mm-sec2 h2{
	font-family: Times New Roman;
    font-size: 41px;
	font-weight: bold;
    text-align: center;
    line-height: 55px;
    letter-spacing: 4px;
    color: #dc9f39;
}

.mm-sec2-p1{
	font-family: Courier New;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
}

/* End Section-2 */

/* Section - 3 */

.mm-sec3-sub-h{
	padding-left: 192px;
	padding-right: 246px;
}

.mm-sec3 h1{
	font-size: 65px;
    margin-top: 80px;
    font-family: Cash Currency;
    letter-spacing: 5px;
    color: #dc9f39;
}

.mm-sec3-p{
	font-family:Regular;
	font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    padding-left: 85px;
    padding-right: 85px;
}

.mm-sec3-img{
	height:800px;
}

.mm-sec3-p-3{
	padding-left: 80px;
}

.mm-sec3-p1 {
    font-family: Times new roman;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 4px;
}
/* Section - 5 */

.mm-sec5 h2{
    font-family: Cash Currency;
    font-size: 30px;
    color: #dc9f39;
    letter-spacing: 6px;
    text-align: center;
    color: #dc9f39;
}


.mm-sec5-text1{
	font-family: Lato Thin;
	font-size: 24px;
	letter-spacing: 1px;
}

.mm-sec5-text2{
	font-family: Lato Thin;
	font-style: italic;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 42px;
}

.mm-sec5-centext{
	padding: 30px;
    font-family: Lato Thin;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 45px;
    text-align: justify;
}

.mm-sec5-arrow{
	margin-top: 30px;
    width: 100px;
}

.mm-sec5-padding-top{
	padding-top: 10px;
}

.mm-sec6 h2 {
    font-family: Cash Currency;
    font-size: 30px;
    color: #dc9f39;
    letter-spacing: 6px;
    text-align: center;
    color: #dc9f39;
    line-height: 50px;
}

.mm-sec6-arrow{
	padding-top: 35px;
	margin-top: 30px;
    width: 100px;
}

.mm-sec7-arrow{
	width: 80%;
}

.mm-sec7-h{
	font-family: Times New Roman;
	font-weight: bold;
    font-size: 33px;
    color: #dc9f39;
    letter-spacing: 2px;
    text-align: center;
    color: #dc9f39;
}

.mm-sec7-p{
	font-family: Times New Roman;
	font-style: italic;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 40px;
}

.mm-sec7-left-section{
	padding-left: 113px;
	padding-top: 20px;
}

.mm-sec7-right-section{
	padding-top: 20px;
}

.mm-sec8-protera{
	height:300px;
}

.mm-sec9-head{
	background-image: url(../mimages/meter/section9/border.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 150px;
}

.mm-sec9-head h2{
	font-family: Algerian;
	font-size: 40px;
    letter-spacing: 5px;
}

.mm-sec9-head{
	padding-top: 8px;
}

.mm-sec9-text1{
	font-family: Lato;
	font-size: 31px;
	letter-spacing: 10px;
}

.mm-sec9-text2{
	font-family: Lato;
	font-size: 31px;
	letter-spacing: 5px;
}

.mm-sec9-text3{
	font-family: Lato;
	font-size: 31px;
	letter-spacing: 8px;
}

.mm-sec9-text4{
	font-family: Lato;
	font-size: 31px;
	letter-spacing: 4px;
}

.mm-sec9-text5{
	font-family: Lato;
	font-size: 31px;
	letter-spacing: 3px;
}

.mm-sec10-vit-min p{
	font-family: Lato Light;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
}

.mm-sec10-h{
	font-family: Cash Currency;
	font-size: 35px;
    letter-spacing: 3px;
    padding-right: 35px;
    padding-left: 35px;
}

.mm-sec11-supplement-facts-1{
	padding-left: 0px;
}

.mm-sec11-supplement-facts-2{
	padding-left: 0px;
}

.mm-sec10-img{
	height: 70px;
}

/*type 22*/

/*Section-1*/
.mtype22-background{
	background-color: #fff;
}

.mtype22-sec1 h1{
	font-family:Cash Currency;
	font-size: 158px;
	color: #000;
    letter-spacing: 8px;
    padding-left: 85px;

}

.mtype22-sec1-h{
	font-size: 24px;
    bottom: 154px;
    color: #000;
    position: relative;
}

.mt22-sec1-img{
	height: 360px;
}

.mt22-sec1-p{
	font-family: Courier New;
	font-weight: bold;
	font-size: 27px;
	color: #000;
	line-height: 40px;
}

.mt22-sec1-part3-padding{
	padding-left: 180px;
	padding-right: 180px;
}

.mt22-sec1-text{
	word-spacing: 23px;
}

.mt22-sec1-part4{
	background-color: #000 ;
	padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 0px;
}

.mt22-sec1-part4-text{
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 21px;
	letter-spacing: 7px;
	margin-bottom: 0px;
}

.mt22-sec1-part-5-padding{
	padding-right: 45px;
	padding-left: 45px;
}

.mt22-sec1-part-5-jar{
	height: 500px;
}

.p-r-l-0{
	padding-left: 0px;
	padding-right: 0px;
}



.p-r-75{
	padding-right: 75px !important;
}

.mt22-sec2{
	background-image: url('../mimages/t22/section2/background.png');
	min-height: 390px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 172px;
}

.mt22-sec2 h2{
	font-family: Cash Currency;
	font-size: 40px;
	color: #dc9f39;
	letter-spacing: 6px;
}

.mt22-sec2 p{
	font-family: Cash Currency;
	font-size: 23px;
    letter-spacing: 4px;
    margin-top: 20px;
}

.img-h-155{
	height: 155px;
}

.mt22-sec2-sub-part h4{
	font-family: Lato Light ;
	font-size: 25px;
	color: #000;

}

.mt22-sec2-sub-part ul{
	font-family: Lato Light ;
	font-size: 16px;
	color: #000;
	letter-spacing: 1px;
}

.mt22-sec2-img2{
	height: 88px;
}

.p-t-38{
	padding-top: 38px;
}

.p-l-84{
	padding-left: 84px;
}

.m-r-66{
	margin-right: 66px;
}

.m-r-20{
	margin-right: 20px;
}

.m-l-20{
	margin-left: 20px;
}

.p-t-45{
	padding-top: 45px;
}

.m-t-32{
	margin-top: 32px;
}

.img-h-140{
	height: 140px;
}

.p-l-100{
	padding-left: 100px !important;
}

.mt22-sec3{
	background-image: url('../mimages/t22/section3/bg.png');
	min-height: 490px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mt22-sec3 h2{
	font-family: Cash Currency;
	font-size: 40px;
	color: #dc9f39;
	letter-spacing: 6px;
}

.mt22-sec3 p{
	font-family: Cash Currency;
	font-size: 23px;
    letter-spacing: 4px;
    margin-top: 20px;
}
.mt22-sec3-heading-part3{
	font-family: Courier New !important;
	font-type: Regular !important;
	color: #fff !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
}

.p-r-50{
	padding-right: 50px !important;
}

.p-t-75{
	padding-top: 75px;
}

.mt22-sec3-heading-part3{
	font-family: Courier New;
	font-size: 15px;
	letter-spacing: 4px;
}

.p-l-55{
	padding-left: 55px;
}

.p-l-60{
	padding-left: 60px;
}

.p-l-65{
	padding-left: 65px !important;
}

.img-h-175{
	height: 175px;
}

.mt22-sec4{
	background-image: url('../mimages/t22/section4/bg.png');
	min-height: 490px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mt22-sec4 h2{
	font-family: Cash Currency;
	font-size: 40px;
	color: #dc9f39;
	letter-spacing: 6px;
}

.mt22-sec4 p{
	font-family: Cash Currency;
	font-size: 23px;
    letter-spacing: 4px;
    margin-top: 20px;
}

.p-l-95{
	padding-left: 95px;
}

.p-l-75{
	padding-left: 75px !important;
}

.p-l-70{
	padding-left: 70px !important;
}

.f-s-18{
	font-size: 18px !important;
}

.f-s-30{
	font-size: 30px !important;
}

.f-s-35{
	font-size: 35px !important;
}

.img-h-190{
	height: 190px;
}

.mt22-sec5{
	background-image: url('../mimages/t22/section5/bg.png') !important;
	min-height: 400px !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.p-t-100{
	padding-top: 100px;
}

.p-l-61{
	padding-left: 61px;
}

.p-l-30{
	padding-left: 30px !important;
}

.p-l-20{
	padding-left: 20px;
}

.p-l-35{
	padding-left: 35px !important;
}

.m-r-40{
	margin-right: 40px;
}

.p-l-0{
	padding-left: 0px;
}

.p-l-71{
	padding-left: 71px;
}

.p-l-53{
	padding-left: 53px;
}

.mt22-sec5-middle-text{
	font-family: 
}

.f-s-20{
	font-size: 20px !important;
}

.mt22-sec5-sym{
    padding-top: 5px;
    font-size: 35px;
    color:#000;
}

.m-t-17{
	margin-top: 17px;
}

.m-l--87{
	margin-left: -87px;
}

.mt22-sec5-img-bracket{
	width: 100%;
}

.mt22-sec5-border{
	font-family: Lato Light;
    font-size: 16px;
    color: #000;
    text-align: center;
    letter-spacing: 3px;
    border: 1px solid #dc9f39;
    padding: 15px;
}

.mt22-sec5-border-part3{
	font-family: Lato Light;
    font-size: 25px;
    color: #000;
    text-align: left;
    letter-spacing: 3px;
    border: 1px dotted #dc9f39;
    padding: 15px;
    line-height: 50px;
}

.mt22-sec6{
	background-image: url('../mimages/t22/section6/bg.png') !important;
	min-height: 400px !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.b-color{
	color: #000 !important;
}

.p-t-140{
	padding-top: 140px;
}

.p-t-18{
	padding-top: 18px;
}

.g-color{
	color:#dc9f39;
}

.p-l-0{
	padding-left: 0px;
}

.m-r-45{
	margin-right: 45px;
}

.m-r-30{
	margin-right: 30px;
}

.p-t-50{
	padding-top: 50px !important;
}

.p-l-50{
	padding-left: 50px !important; 
}

.img-w-95{
	width: 95%;
}

.p-r-60{
	padding-right: 60px;
}

.p-r-40{
	padding-right: 40px !important;
}

.img-w-100{
	width: 100%;
}

.p-l-365{
	padding-left: 365px;
}

.img-w-300{
	width: 300px !important;
}

.f-s-25{
	font-size: 25px;
}

.f-s-28{
	font-size: 28px !important;
}

.f-s-32{
	font-size: 32px !important;
}

.f-s-55{
	font-size: 55px !important;
}

.img-h-170{
	height: 170px !important;
}

.img-h-450{
	height: 450px;
}

.img-h-165{
	height: 165px !important;
}

.b-c-black{
	background-color: #000 !important;
}

.img-h-200{
	height: 200px !important;
}

.t-a-l{
	text-align: left !important;
}

.img-h-300{
	height: 300px !important;
}

.m-l-0{
	margin-left: 0px !important;
}

.p-l-40{
	padding-left: 40px !important;
}

.f-s-40{
	font-size: 40px !important;
}

.f-s-44{
	font-size: 44px !important;
}

.f-s-37{
	font-size: 37px !important;
}

.f-s-34{
	font-size: 34px !important;
}

.f-c-w{
	color: #fff;
}

.img-h-350{
	height: 350px !important;
}

.img-h-500{
	height: 500px;
}

.img-h-380{
	height: 380px !important;
}

.mk-sec5 h1{
	font-family:Lato Regular;
	letter-spacing: 7px;
    font-size: 29px;
}
.mk-sec5 h2{
	font-family: Lato Regular;
    letter-spacing: 10px;
    font-size: 22px;
}
.mk-sec5 h3{
	font-family:Lato Thin;
	letter-spacing: 7px;
    font-size: 22px;
}
.mk-sec5 h4{
	font-family:Times New Roman;
	font-weight: bold !important;
    font-size: 30px !important;
    text-align: left !important;
}
.mk-sec5 ul{
	margin-top: 25px !important;
    padding-left: 20px;
}
.mk-sec5 ul li{
	font-family: Lato Thin;
	font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
	color: #dc9f39;
}
.mk-sec5 ul li span{
	color: #fff;
}
.mk-sec5 h4{
    font-family:Times New Roman !important;
	font-weight: bold !important;
    font-size: 30px !important;
    text-align: left !important;
    text-decoration: underline;
}

.img-h-250{
	height: 250px !important;
}

.img-h-200{
	height: 200px !important;
}

.mk-sec7 h4{
	font-family: Times New Roman;
	font-size: 25px;
	font-weight: bold;
	margin-top: 30px;
    letter-spacing: 5px;
	color: #dc9f39;
	margin-left: 0px;
	margin-right: 0px;
}

.m-l-50{
	margin-left: 50px !important;
}

.img-h-55{
	height: 55px !important;
}

.m-t-13{
	margin-top: 13px !important;
}

.m-l-14{
	margin-left: 14px !important;
}

.p-r-0{
	padding-right: 0px !important;
}

.m-l-30{
	margin-left: 30px;
}

.m-l-33{
	margin-left: 33px !important;
}

.p-b-35{
	padding-bottom: 35px !important;
}

.p-b-50{
	padding-bottom: 50px !important;
}

.m-b-75{
	margin-bottom: 75px !important;
}

.mb-sec1-h{
	font-size: 20px;
    bottom: 65px;
    position: relative;
}

.p-r-15{
	padding-right: 15px;
}

.p-l-10{
	padding-left: 10px;
}

.p-r-23{
	padding-right: 23px;
}

.p-l-33{
	padding-left: 33px;
}

.img-h-347{
	height: 347px;
}

.img-h-155{
	height: 155px;
}

.m-t-145{
	margin-top: 145px;
}

.m-b-0{
	margin-bottom: 0px;
}

.m-b-50{
	margin-bottom: 50px;
}

.t-c-w{
	color: #fff !important;
}

.t-c-b{
	color: #000;
}

.p-b-30{
	padding-bottom: 30px !important;
}

.mc-b-b{
	background-color: #000;
}

.mc-sec1{
	background-color: #fff;
}

.img-h-250{
	height: 250px;
}

.mc-sec-1-h{
	font-family: Lato;
	font-weight: bold;
	font-size: 55px;
	border-color: #dc9f39;
	border-bottom-style:solid;
	padding-bottom: 10px; 
}

.mc-sec-1-size{
	font-family: Lato;
	font-weight: bold;
	color: #dc9f39;
	font-size: 20px;
}

.mc-sec-1-serving{
	color: #000;
	font-size: 20px;
	padding-left: 20px;
}

.p-l-45{
	padding-left: 45px;
}

.p-l-46{
	padding-left: 46px;
}

.t-d-line_through{
	text-decoration: line-through;
}

.mc-sec-1-offer{
	background-color: #dc9f39;
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	margin-left: 40px;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.mc-sec-1-total{
	font-family: Lato;
	font-weight: bold;
	font-size: 20px;
	color: #dc9f39 ;
	margin-left: 22px;
}

.mc-sec1-unit{
	font-family: Lato;
	font-weight: bold;
	color: #000;
    font-size: 20px;
    border-style: groove;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.p-b-10{
	padding-bottom: 10px;
}

.p-l-20{
	padding-left: 20px;
}

.m-l-20{
	margin-left: 20px;
}

.mc-sec1-applicable-offers{
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	padding-top: 5px;
}

.mc-sec-1-remove-items{
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #000;
	padding-top: 5px;
}

.mc-sec-2-border{
	border-style: dotted;
	border-color: #dc9f39;
}

.mc-sec2-part2{
	font-family: Lato Regular;
    font-size: 19px;
    letter-spacing: 2px;
	margin:0px;
	color: #000;
}

.mc-sec2-part2-150{
	color: #000;
	font-size: 20px;
}

.m-t-20{
	margin-top: 20px;
}

.m-b-20{
	margin-bottom: 20px;
}

.mc-sec-3{
	background-color: #252525;
}

.mc-sec3-h{
	font-family: Lato;
    font-weight: bold;
    font-size: 30px;
    color: #dc9f39;
    border-color: #dc9f39;
    border-bottom-style: solid;
    padding-bottom: 10px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 10px;
}

.mc-sec3-add-p{
	font-family: AvenirLTStd Light;
    font-size: 20px;
}

.mc-sec3-add-p2{
	color: #dc9f39;
	text-align:right;
    font-size: 20px;
}

.mc-sec3-add-p2 span{
	padding: 0px 8px;
}

.mc-sec4{
	background-color: #111111;
}

.mc-sec4-p1{
	font-family: Lato;
	font-weight: bold;
	font-size: 25px;
	padding-top: 75px;
	letter-spacing: 2px;
}

.mc-sec4-coupon-code{
	background: transparent;
    border: 1px solid #dc9f39;
	color: #fff;
	padding-left: 6px;
	font-size: 25px;
	margin-top: 30px;
	width: 65%;
}

.mc-sec4-apply{
	background-color: #dc9f39;
    color: #000;
    width: 65%;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.mc-sec4-total-section{
	width: 65%;
	margin-left: 165px;
}

.mc-sec4-total-section-p{
	font-family: Lato;
	font-size: 25px;
	text-align: left;

}

.mc-sec4-total-section-p2{
	font-size: 25px;
	text-align: right; 
}

.mc-sec5-p{
	font-family: Lato;
	font-size: 23px;
}

.img-h-50{
	height: 50px;
}

.p-r-24{
	padding-right: 24px;
}

/*Store*/

.ms-sec1-h{
	font-family: Lato;
	font-weight: bold;
	font-size: 60px;
	color: #dc9f39;
	letter-spacing: 2px;
}

.ms-sec1-t-underline{
	text-decoration: underline;
	color: #dc9f39;
}

.ms-sec1-img ul li{
	list-style-type: none;
    height: 100px;
	width: 100px;
    border: 1px solid;
    margin-top: 8px;
	text-align:center;
}
.ms-sec1-img ul li img{
	height: 85px;
    margin-top: 4px;
}

.ms-sec1-p{
	font-family: Lato Medium;
	font-size: 27px;
	letter-spacing: 2px;
}

.ms-sec1-flavour{
	font-family:Lato Medium;
	font-size: 20px;
	letter-spacing: 2px;
	border: 1px solid #dc9f39;
    padding: 5px;
}

.ms-sec1-rating{
	font-family:Lato Black !important;
	font-size: 50px !important;
	color: #dc9f39 !important;
}

.ms-sec2{
	background-color: #363636;
}

.ms-sec2-p{
	font-family: Lato Medium;
	font-size: 30px;
}

.ms-sec2-quantity{
	font-family:Lato Medium;
	border: 1px solid #dc9f39;
    padding: 5px;
    margin-top: 30px;
}

.ms-sec2-sign{
	height: 40px;
}

.m-l-0{
	margin-left: 0px !important;
}

.ms-sec2-bn{
	font-family:Lato Bold !important;
	border: 1px solid #dc9f39;
    padding: 10px !important;
	color: #dc9f39 !important;
	font-size: 20px;
}

.ms-sec2-atc{
	font-family:Lato Bold !important;
	background:#dc9f39 !important;
    padding: 10px !important;
    font-size: 20px;
}

.msh-sec1-shot-background{
	background-color: #000;
}

.msh-sec1-h{
    font-family: Lato Black;
    font-size: 200px;
    color: #fff;
    /* text-decoration: underline; */
    padding-bottom: 130px;
    padding-top: 100px;
    letter-spacing: 0px;
}

.msh-sec1-tm{	
    font-size: 20px;
    bottom: 145px;
    position: relative;
}

.msh-main-padding{
	padding-left: 150px;
	padding-right: 150px;
}

.msh-sec1-p{
	font-family: Lato;
	font-weight: bold;
	font-size: 41px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.img-h-460{
	height: 460px;
}

.img-h-470{
	height: 470px;
}

.msh-sec2-h3{
	font-family: Lato Regular;
	font-size: 19px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.msh-sec2-padding{
	padding-top: 17px;
	padding-bottom: 17px;
}

.img-h-2{
	height: 2px;
}

.msh-sec3-h3{
    font-family: Lato;
    font-weight: bold;
    font-size: 62px;
    color: #000;
    letter-spacing: 7px;
}

.msh-sec3-p{
	font-family: Lato Medium;
    font-size: 23px;
    color: #000;
    letter-spacing: 3px;
}

.msh-sec4-heading{
	font-family: Lato Black;
	color: #000;
    font-size: 37px;
	letter-spacing: 5px;
}

.msh-sec3-paragraph{
    font-family: Lato Light;
    color: #000;
    font-size: 30px;
    letter-spacing: 3px;
}

.msh-sec3-link{
    font-family: Lato Light;
    color: #000;
    font-size: 30px;
    border: 1px solid #dc9f39;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}

.msh-sec4-p1{
	font-family: Lato Regular;
	color: #434445;
	font-size: 27px;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.msh-sec4-p2{
	font-family: Lato Regular;
	color: #fff;
	font-size: 25px;
	letter-spacing: 3px;
}

.msh-sec6-h{
	font-family: Lato Bold;
	font-size: 38px;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 7px;
}

.msh-sec6-p{
	font-family: Lato Regular;
    font-size: 32px;
	color: #000;
	letter-spacing: 3px;
}

.msh-sec6-h-r{
    font-family: Lato Regular;
    font-size: 28px;
    color: #000;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 6px;
}

.msh-sec6-p-r{
    font-family: Lato;
    font-style: italic;
    font-size: 27px;
    color: #000;
    padding-left: 40px;
    letter-spacing: 1px;
}

.msh-sec7-h{
	font-family: Lato Bold;
    font-size: 37px;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 3px;
	text-decoration: underline;
}

.msh-sec7-p{
	font-family: Lato Bold;
    font-size: 35px;
	color: #000;
	letter-spacing: 6px;
}

.img-h-32{
	height: 32px;
}

.img-h-520{
	height: 520px;
}

.img-h-510{
	height: 510px;
}

.p-l-307{
	padding-left: 307px;
}

.div-height-70{
	height: 70px !important;
}

.img-h-140{
	height: 140px;
}

.mbz-sec1-goldstrip{
	width: 100%;
	height: 140px;
}

.img-w-100p{
	width: 100%;
}

.mbz-sec1-p{
	font-family: Lato Regular;
	font-size: 21px;
	color: #767778;
	margin-top: -110px;
	text-align: center;
}

.mbz-sec1-jar-img{
    height: 350px;
    margin-top: -410px;
    padding-left: 43px;
}

.mbz-sec1-p1{
    font-family: Lato Regular;
    font-size: 23px;
    color: #000;
    letter-spacing: 8px
}

.mbz-sec1-p2{
    font-family: Lato Regular;
    color: #dc9f39;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 10px;
}

.mbz-sec1-p3{
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 4px;
}

.mbz-sec1-p4{
    font-family: Lato Regular;
    font-size: 18px;
    color: #000;
    letter-spacing: 3px;
}

.mbz-sec1-p5{
    font-family: Lato;
    font-weight: bold;
    color: #dc9f39;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mbz-sec1-p6{
    font-family: Lato Regular;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mbz-sec1-p7{
    font-family: Lato;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 3px;
}

.mbz-sec6-h-r{
    font-family: Lato Regular;
    font-size: 28px;
    color: #000;

    padding-top: 20px;
    letter-spacing: 6px;
    padding-left: 40px;
}

.mbz-sec3-p-r{
    font-family: Lato Light;
    font-size: 27px;
    color: #000;
    padding-left: 40px;
    letter-spacing: 1px;
}

.mbz-sec7-paragraph{  
    font-family: Lato Regular;
    color: #000;
    font-size: 18px;
    border: 2px solid #000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 92px;
}

.mh-sec1-background{
	background-image: url(../mimages/home/section1/bg.jpg);
	background-size: 100% 100%;
	height: 1500px;
}

.f-s-40{
	font-size: 40!important;
}

.img-h-90p{
	height: 90px;
}

.m-t-663{
	margin-top: 663px;
}

.mh-sec1-text{
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-top: 10px;
}

.mh-sec2{
	min-height: 140px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    border-bottom: 1px solid #dfa03b;
    z-index: 99;
    padding-top: 20px
}

.mh-sec2-bg{
	background-color: #000;
}

.mh-sec2-upper-text{
    font-family: Times New Roman Regular;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.mh-sec2-lower-text{
    font-family: Lato black;
    font-size: 98px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mh-sec3-upper-text{
	font-family: Times New Roman;
    font-weight: bold;
    font-size: 36px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mh-sec3-middle-text{
    font-family: Times New Roman Regular;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mh-sec3-lower-text{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 43px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mh-sec4-bg{
	background-color: #fff;
}

.mh-sec4-text1{
	font-family: Times New Roman;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    color: #000;
}

.mh-sec4-text2{
    font-family: Times New Roman Regular;
    text-transform: uppercase;
    color: #4c4c4c;
    font-size: 48px;
    letter-spacing: 4px;
}

.mh-sec4-text3{
	font-family: Times New Roman;
    font-weight: bold;
    text-transform: uppercase;
    color: #dc9f39;
    font-size: 60px;
    letter-spacing: 2px;
}

.know-more-btn{
    border: solid 1px #c2c2c2;
    background: 0;
    border-color: #6b6666;
    color: #000;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 135px;
    text-align: center;
    position: relative;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.know-more-btn:after {
    content: '';
    display: block;
    -webkit-transition: all .2s;
    border: solid 1px #6b6666;
    position: absolute;
    top: -5px;
    right: 3px;
    bottom: -5px;
    left: 3px;
}

.mh-sec5-background-1{
	background-image: url(../mimages/home/section5/bg.jpg);
	background-size: 100% 100%;
	height: 970px;
}

.mh-sec5-background-2{
	background-image: url(../mimages/home/section5/bg1.png);
	background-size: 100% 100%;
	height: 241px;
}

.mh-sec5-text1{
    font-family: Times New Roman regular;
    font-size: 32px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mh-sec5-text2{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 4px;
}

.m-t-730{
	margin-top: 730px;
}

.p-l-90{
	padding-left: 90px;
}

.f-s-35{
	font-size: 35px !important;
}

.mh-sec5-left-background-1{
	background-image: url(../mimages/home/section5/left-background/bg.jpg);
	background-size: 100% 100%;
	height: 485px;
}

.mh-sec5-right-background-1{
	background-image: url(../mimages/home/section5/right-background/bg.jpg);
	background-size: 100% 100%;
	height: 485px;
}

.mh-sec5-left-text1{
    font-family: Times New Roman regular;
    font-size: 20px;
    color: #dc9f39;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mh-sec5-left-text2{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 2px;
}

.mh-sec5-left-background-2{
	background-image: url(../mimages/home/section5/bg1.png);
	background-size: 100% 100%;
	height: 129px;
	
}

.m-t-356{
    margin-top: 356px;
}

.mh-sec5-left-padding{
	padding-top: 17px;
	padding-left: 25px;
}

.mh-sec6-background{
	background-image: url(../mimages/home/section6/bg.png);
	background-size: 100% 100%;
	height: 440px;
}

.mh-sec6-text1{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    padding-top: 30px;
    letter-spacing: 3px;
}

.mh-sec6-text2{
    font-family: Times New Roman;
    font-style: italic;
    font-size: 26px;
    color: #fff;
    letter-spacing: 1px;
    padding-top: 30px;
}

.see-more-btn{
	border: solid 1px #fff;
    background: 0;
    border-color: #fff;
    color: #fff;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
    width: 135px;
    text-align: center;
    position: relative;
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.see-more-btn:after{
	content: '';
    display: block;
    -webkit-transition: all .2s;
    border: solid 1px #fff;
    position: absolute;
    top: -5px;
    right: 3px;
    bottom: -5px;
    left: 3px;
}

.img-h-210{
	height: 210px;
}

.mh-sec7-gossip-bg{
	background-color: #06b2de;
}

.mh-sec7-user-image{
	border-radius: 50%;
}

.img-h-180{
	height: 180px;
}

.mh-sec7-text1{
    font-family: Lato;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
}

.mh-sec7-text2{
	font-family: Lato Light;
    font-size: 28px;
    letter-spacing: 2px;
}

.mh-sec7-text3{
	font-family: Lato Light;
    font-size: 25px;
    letter-spacing: 2px;
}

.m-t-350{
	margin-top: 350px;
}

.auth-sec{
	padding: 60px 60px !important;
	background: #fff;
	height: 100%;
}
.auth-sec-left h2{
    font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 30px;
    letter-spacing: 1px;
}
.auth-sec-left p{
    font-family: Courier New Regular;
    font-size: 22px;
    padding-top: 12px;
    color: #000;
    letter-spacing: 1px;
}
.auth-otp{
	    margin-top: 25px;
}
.auth-otp input{
	width: 60px;
    height: 60px;
}
.auth-sec form input{
	margin-top: 40px;
    line-height: 40px;
    font-size: 20px !important;
    width: 92%;
    border-bottom: 2px solid #afadad;
    border-top: none;
    border-left: none;
    border-right: none;
}
.auth-sec form img{
	width:150px;
	float:right;
	margin-top: 40px;
    margin-right: 50px;
}

.auth-sec-right{
	border: 1px solid #dc9f39;
        margin-top: 23px;
}
.auth-sec-right h2{
	font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 22px;
	text-align: center;
	margin-top: 30px;
}

.auth-sec-right{
	border: 1px solid #dc9f39;
        margin-top: 23px;
}
.auth-sec-right h2{
    font-family: Times New Roman;
    font-weight: bold;
    color: #dc9f39;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px;
}

.asr-p1{
    font-family: Times New Roman;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    color: #000;
    font-size: 25px;
}

.dyn-auth-img{
    height: 400px;
}
.dyn-auth-val p{
	font-family: Courier New;
	margin-top:40px;
	font-size: 28px;
	color: #000;
}
.auth-footer p{
    font-family: Courier New;
    text-align: center;
    padding-top: 27px;
    font-size: 22px;
    border-top: 1px solid #dc9f39;
    margin: 30px 10px;
    color: #000;
    letter-spacing: 1px;
}

.m-l-45{
	margin-left: 45px;
}


/*.retail-left{
	width: 50%;
    float: left;
    background: #fff;
    height: 100%;
}*/
.retail-left-bor{
	height: 85%;
    background-image: url(../mimages/home/retail/bg.png);
    background-size: 100% 100%;
    /*margin: 65px 35px;*/
}

.ret-sec-bg{
	background-image: url('../mimages/home/retail/bg.png');
	background-size: 100% 100%;
}
.retail-text1{
	text-align: center;
    font-family: Times New Roman;
    font-size: 45px;
    padding-top: 80px;
    margin-bottom: 0px;
    color: #000;
}
.retail-text2{
    padding: 90px 90px 90px 90px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 25px;
    font-style: italic;
    margin: 0;
    color: #000;
}
.retail-img-sec{
	margin: 0 auto;
    width: 80%;
}
.retail-img{
	border: 1px solid #dc9f39;
    height: 70px;
    width: 32%;
    float: left;
    text-align: center;
    margin-left: 2px;
}
.retail-img:hover{
	background-color:#dda039;
}
.retail-left img{
    height: 45px;
    padding-top: 16px;
}

.bg-contact{
	background-color: #fff;
	padding-left: 50px;
	padding-right: 50px;
}

.height-footer{
	height: 70px !important;
}