//dafault colors

$default-background-color: #000000;
$default-light-black-bg: #0f0f0f;

$default-text-color: #ffffff;

$daaki-orange-color: #ff6600;

$light-blue: #001d2f;
$middle-blue: #001828;
$dark-blue: #00121e;

$blue-background: #06b2de;

$gray-line: #666666;

$light-gray: #484848;
$color-gray: #828282;
$dark-gray: #9e9e9e;
$def-gray: #aaaaaa;

$dark-green: #556b72;
$light-green: #dfecf0;
$light-bright-green: #94d600;


$verify-user-color: #c0ff00;

$default-blue-color: #0071ce;